.footer{
  margin: 0 auto;
  margin-top: 92px;
  margin-bottom: 24px;
  max-width: 1184px;
  max-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-top: 88px;
    }
} 

@media screen and (max-width: 320px) {
    .footer {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
    }
} 